.full-job-details-item-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #000000;
  min-height: 100vh;
  width: 100%;
}

.full-job-item-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin-top: 5%;
  background-color: #272727;
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .full-job-item-cont {
    width: 90%;
  }
}
.job-item-logo-title-cont {
  display: flex;
  flex-direction: row;
}

.job-details-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.job-details-item {
  background-color: #272727;
  border: none;
  width: 100%;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 10px;
  text-decoration: none;
}

.job-logo-title-cont {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  width: 50%;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .job-logo-title-cont {
    width: 65%;
  }
}
.company-logo-img {
  max-width: 60px;
  max-height: 60px;
}

@media screen and (min-width: 768px) {
  .company-logo-img {
    max-width: 80px;
    max-height: 80px;
  }
}

.job-title-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 10px;
}

.job-name {
  color: #f1f5f9;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
  line-height: 1.4;
  margin-top: 10px;
}
.ratings-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.star-img {
  max-width: 20px;
  max-height: 20px;
}
.job-rating {
  color: #f1f5f9;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
  line-height: 1.4;
  margin-left: 5px;
}
.job-location-type-salary-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.job-location-type-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.job-location-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-right: 25px;
}
.location-icon {
  color: #ffffff;
  width: 20px;
  height: 20px;
}
.job-location {
  color: #f1f5f9;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto';
  line-height: 1;
  margin-left: 10px;
}
.job-type-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.briefcase-icon {
  color: #ffffff;
  width: 20px;
  height: 20px;
}
.job-type {
  color: #f1f5f9;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto';
  line-height: 1;
  margin-left: 10px;
}

.job-salary {
  color: #f8fafc;
  font-size: 19px;
  font-weight: 400;
  font-family: 'Roboto';
  line-height: 1;
}
.job-description-cont {
  display: flex;
  flex-direction: column;
}
.job-desc-visit-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.job-description-head {
  color: #f8fafc;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto';
  line-height: 1.2;
}
.job-description {
  color: #f1f5f9;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto';
  line-height: 1.4;
}
.job-nav-link {
  color: #b6c5ff;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
  line-height: 1;
  text-decoration: none;
  margin-right: 10px;
}
.link-icon {
  width: 15px;
  height: 20px;
  margin-left: 5px;
  padding-top: 5px;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.skills-cont-heading {
  color: #f8fafc;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto';
  line-height: 1.2;
}

.skills-list-container {
  list-style-type: none;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.skills-img {
  max-width: 50px;
  max-height: 50px;
}

.life-at-company-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .life-at-company-cont {
    flex-direction: row;
    align-items: center;
  }
}

.life-at-company-content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .life-at-company-content {
    padding-left: 10px;
  }
}
.life-at-company-head {
  color: #f8fafc;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto';
  line-height: 1.2;
}
.life-at-company-desc {
  color: #f1f5f9;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto';
  line-height: 1.4;
}
.company-img {
  max-width: 100%;
  max-height: 450px;
}

.similar-job-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.similar-jobs-head {
  color: #f8fafc;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Roboto';
  line-height: 1.2;
  margin-left: 20px;
  padding-top: 10px;
  margin-bottom: 0;
}

.similar-jobs-list {
  display: flex;
  flex-direction: column;
}

.job-details-failure-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin-left: 10px;
  margin-top: 5%;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .job-details-failure-cont {
    width: 70%;
    margin-right: 20px;
  }
}

.jobs-failure-img {
  max-width: 220px;
}

.jobs-failure-heading-text {
  color: #f8fafc;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto';
  line-height: 1.4;
}
.jobs-failure-description {
  color: #f1f5f9;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto';
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .jobs-failure-img {
    max-width: 400px;
  }
  .jobs-failure-heading-text {
    font-size: 22px;
  }
  .jobs-failure-description {
    font-size: 18px;
  }
}
